@font-face {
	font-family: Wisdom Script;
	src: url("fonts/wisdom_script.otf") format("opentype");
}

@font-face {
	font-family: BadScript-Regular;
	src: url("fonts/BadScript-Regular.ttf");
}

@font-face {
	font-family: ChelaOne-Regular;
	src: url("fonts/ChelaOne-Regular.ttf");
}

@font-face {
	font-family: IMFeDPrm28P;
	src: url("fonts/IMFeDPrm28P.ttf");
}

@font-face {
	font-family: PortLligatSlab-Regular;
	src: url("fonts/PortLligatSlab-Regular.ttf");
}

@font-face {
	font-family: Roboto-LightItalic;
	src: url("fonts/Roboto-LightItalic.ttf");
}

@font-face {
	font-family: Rosario-BoldItalic;
	src: url("fonts/Rosario-BoldItalic.ttf");
}

@font-face {
	font-family: CabinCondensed-Bold;
	src: url("fonts/CabinCondensed-Bold.ttf");
}

@font-face {
	font-family: Flavors-Regular;
	src: url("fonts/Flavors-Regular.ttf");
}

@font-face {
	font-family: Ledger-Regular;
	src: url("fonts/Ledger-Regular.ttf");
}

@font-face {
	font-family: PressStart2P-Regular;
	src: url("fonts/PressStart2P-Regular.ttf");
}

@font-face {
	font-family: Roboto-Light;
	src: url("fonts/Roboto-Light.ttf");
}

@font-face {
	font-family: Rosario-Bold;
	src: url("fonts/Rosario-Bold.ttf");
}

@font-face {
	font-family: CabinCondensed-Medium;
	src: url("fonts/CabinCondensed-Medium.ttf");
}

@font-face {
	font-family: GrandHotel-Regular;
	src: url("fonts/GrandHotel-Regular.ttf");
}

@font-face {
	font-family: MarcellusSC-Regular;
	src: url("fonts/MarcellusSC-Regular.ttf");
}

@font-face {
	font-family: Roboto-BlackItalic;
	src: url("fonts/Roboto-BlackItalic.ttf");
}

@font-face {
	font-family: Roboto-MediumItalic;
	src: url("fonts/Roboto-MediumItalic.ttf");
}

@font-face {
	font-family: Rosario-Italic;
	src: url("fonts/Rosario-Italic.ttf");
}

@font-face {
	font-family: CabinCondensed-Regular;
	src: url("fonts/CabinCondensed-Regular.ttf");
}

@font-face {
	font-family: HanaleiFill-Regular;
	src: url("fonts/HanaleiFill-Regular.ttf");
}

@font-face {
	font-family: MouseMemoirs-Regular;
	src: url("fonts/MouseMemoirs-Regular.ttf");
}

@font-face {
	font-family: Roboto-Black;
	src: url("fonts/Roboto-Black.ttf");
}

@font-face {
	font-family: Roboto-Medium;
	src: url("fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: Rosario-Regular;
	src: url("fonts/Rosario-Regular.ttf");
}

@font-face {
	font-family: CabinCondensed-SemiBold;
	src: url("fonts/CabinCondensed-SemiBold.ttf");
}

@font-face {
	font-family: Hanalei-Regular;
	src: url("fonts/Hanalei-Regular.ttf");
}

@font-face {
	font-family: NewRocker-Regular;
	src: url("fonts/NewRocker-Regular.ttf");
}

@font-face {
	font-family: Roboto-BoldItalic;
	src: url("fonts/Roboto-BoldItalic.ttf");
}

@font-face {
	font-family: Roboto-Regular;
	src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: SquadaOne-Regular;
	src: url("fonts/SquadaOne-Regular.ttf");
}

@font-face {
	font-family: ChauPhilomeneOne-Italic;
	src: url("fonts/ChauPhilomeneOne-Italic.ttf");
}

@font-face {
	font-family: HappyMonkey-Regular;
	src: url("fonts/HappyMonkey-Regular.ttf");
}

@font-face {
	font-family: Playball-Regular;
	src: url("fonts/Playball-Regular.ttf");
}

@font-face {
	font-family: Roboto-Bold;
	src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: Roboto-ThinItalic;
	src: url("fonts/Roboto-ThinItalic.ttf");
}

@font-face {
	font-family: TheGirlNextDoor;
	src: url("fonts/TheGirlNextDoor.ttf");
}

@font-face {
	font-family: ChauPhilomeneOne-Regular;
	src: url("fonts/ChauPhilomeneOne-Regular.ttf");
}

@font-face {
	font-family: IMFeDPit28P;
	src: url("fonts/IMFeDPit28P.ttf");
}

@font-face {
	font-family: PollerOne;
	src: url("fonts/PollerOne.ttf");
}

@font-face {
	font-family: Roboto-Italic;
	src: url("fonts/Roboto-Italic.ttf");
}

@font-face {
	font-family: Roboto-Thin;
	src: url("fonts/Roboto-Thin.ttf");
}
